---
import Layout from "../layouts/Layout.astro";

import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import {AboutMe} from "../components/AboutMe"
import {Experience} from "../components/Experience";
import {Projects} from "../components/Projects";
import Hero from "../components/Hero.astro"
import SectionContainer from "../components/SectionContainer.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro"


import ProjectSection from '../components/ProjectSection';
---

<Layout
	title="Portafolio Andres Romero"
	description="Contrata a Andres para crear tu aplicación web o móvil."
>
	<main class="px-4">
		<SectionContainer class="py-40 pb-32">
      <Hero>
      </slot>
    </Hero>
		</SectionContainer>
    <div class="space-y-24">
		<SectionContainer id="experience">
			<h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
			<Briefcase class="size-8" />
				<ProjectSection id={1} client:load />
			</h2>
			<Experience client:load/>
		</SectionContainer>

		<SectionContainer id="projects">
			<h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		>
				<CodeIcon class="size-7" />
				<ProjectSection id={2} client:load />
			</h2>
			<Projects client:load/>
		</SectionContainer>

		<SectionContainer id="aboutme">
			<h2
			class="flex items-center mb-8 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
		>
        <ProfileCheck class="size-8" />
        <ProjectSection id={3} client:load />
      </h2>
      <AboutMe client:load/>
    </SectionContainer>
	</div>
	</main>
</Layout>
