---
import CodeIcon from "../components/icons/Code.astro";
---

<footer class=" rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">

              <span class="flex self-center items-center text-2xl font-semibold whitespace-nowrap sm:text-center text-yellow-200/90">
              <CodeIcon class="size-4"/> arromero

              </span>

          <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm-mt-0">
              <li>
                  <a href="#aboutme" class="hover:underline me-4 md:me-6">About</a>
              </li>
              <li>
                  <a href="#contact" class="hover:underline">Contact</a>
              </li>
          </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
        <a href="https://www.linkedin.com/in/arromero491/" class="hover:underline">
          Andrés Romero - @arromero491 - </a>
        2024
      </span>
  </div>
</footer>

