---
const personalImageAlt = "Andres Romero";
import {Badge} from "./Badge";
import { HeroPresentation } from "./HeroPresentation"
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "./icons/oldIcons/GithubIcon.astro";
import MailIcon from "../components/icons/Mail.astro";
import InstagramIcon from "../components/icons/Instagram.astro";
import EquisIcon from "../components/icons/Equis.astro";
import SocialPill from "../components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://avatars.githubusercontent.com/u/57555202?v=4"
      alt={personalImageAlt}
    />
    <a
    href="https://www.linkedin.com/in/arromero491/"
    target="_blank"
    rel="noopener"
    class="flex items-center transition md:justify-center md:hover:scale-105"
  >
    <Badge client:load/>
  </a>

</div>
<HeroPresentation client:load/>
<nav class="flex flex-wrap gap-4 mt-8 ">
  <SocialPill href="https://www.linkedin.com/in/arromero491/">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/arromero4">
    <GithubIcon class="size-4" />
    GitHub
  </SocialPill>
  <SocialPill href="https://twitter.com/arromero491">
    <EquisIcon class="size-4" />
    Twitter
  </SocialPill>
  <SocialPill href="https://www.instagram.com/arromero491/">
    <InstagramIcon class="size-4" />
    Instagram
  </SocialPill>
  <SocialPill href="mailto:arromero0408@gmail.com">
    <MailIcon class="size-4" />
    arromero0408@gmail.com
  </SocialPill>
</nav>
</div>